* {
  margin: 0;
  padding: 0;
}
body {
  background: #F7F7F7;
}
div#container {
  border: 1px solid green;
  width: 80%;
  height: 50vh;
  margin: 5vh auto;
}
div#keyCode {
  border: 1px solid pink;
  width: 90%;
  height: 25vh;
  margin: 2vh auto;
  
  color: red;
  font-size: 150px;
  text-align: center;
}
div#kcc {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: 0 auto;
  height: 18vh
}
div#key, div#code {
  border: 1px solid purple;
  /* padding: 60px; */
  padding: 20%;
  color: red;
  font-size: 25px;
}